* {
  box-sizing: border-box;
}

.login-container {
  width: 20%;
  margin: 0 auto;
  border: 1px solid black;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1.5rem auto;
}

.login-btn {
  margin: .6rem auto;
}

.input-form{
  margin: .5rem auto;
}

